@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: blue;
    color: white;
}

h1{
    text-align: center;
    margin: 50px 0px;
}

section{
    background-color: white;
    height: auto;
    width: 500px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.392);
}

form{
    padding: 15px;
}

label{
    color: black;
    font-size: 1em;
    font-weight: bold;
}

input#inum{
    height: 30px;
    border-radius: 10px;
    padding: 10px;
}

input.botao{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

select{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    padding-left: 10px;
}

div{
    padding: 15px;
    color: black;
}

footer{
    text-align: center;
    margin: 20px 0px;
    font-style: italic;
}
